name: 每日自动更新EPG 2次

on:
  schedule:
    - cron: '0 15 * * *'  # 北京时间 23:00
    - cron: '0 21 * * *'  # 北京时间 05:00
  workflow_dispatch:

jobs:
  update-epg:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: 下载EPG文件
        run: |
          curl -L -k -o epg.xml https://gitee.com/taksssss/tv/raw/main/epg/112114.xml

      - name: 提交更新
        uses: EndBug/add-and-commit@v9
        with:
          message: "自动更新EPG"
          committer_name: GitHub Actions
          committer_email: actions@github.com
