name: gen-gz
on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. 下载文件
      - run: curl -o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml

      # 2. 【最稳压缩】直接生成 epg.xml.gz
      - run: gzip epg.xml

      # 3. 看一眼文件在不在
      - run: ls -l

      # 4. 强制上传
      - run: |
          git config user.name bot
          git config user.email bot@bot.com
          git add epg.xml.gz
          git commit -m "gz"
          git push -f origin main
