name: 测试生成gz
on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # 1. 下载文件
      - name: 下载
        run: curl -o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml

      # 2. 生成 gz（最标准、不会错）
      - name: 压缩
        run: |
          gzip -c epg.xml > epg.xml.gz
          # 这里会打印出当前有什么文件！！！
          ls -la

      # 3. 强制上传
      - name: 上传
        run: |
          git config user.name test
          git config user.email test@test.com
          git add epg.xml.gz
          git commit -m "test" --allow-empty
          git push -f origin main
