name: 自动更新并压缩 EPG
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

permissions:
  contents: write

jobs:
  update-epg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: 下载并生成真正的压缩包
        run: |
          curl -L -o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml
          gzip -c epg.xml > epg.xml.gz

      - name: 自动上传更新
        run: |
          git config --global user.name "auto"
          git config --global user.email "auto@example.com"
          git add epg.xml epg.xml.gz
          git commit -m "自动更新 EPG" || exit 0
          git push -f origin main
