name: make-gz
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Make gz
        run: |
          curl -o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml
          gzip epg.xml
          ls -la
      - name: Push
        run: |
          git config user.name bot
          git config user.email bot@bot.com
          git add -f .
          git commit -m "gz"
          git push -f origin main
