name: update
on:
  workflow_dispatch
permissions:
  contents: write
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: curl -L o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml
      - run: gzip epg.xml
      - run: ls -la
      - run: |
          git config user.name bot
          git config user.email bot@bot.com
          git add -f epg.xml.gz
          git commit -m "update"
          git push -f origin main
