name: gen-gz
on:
  workflow_dispatch

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: 下载小文件
        run: curl -o epg.xml https://raw.githubusercontent.com/sparkssssssssss/epg/main/pp.xml
        
      - name: 生成 gz
        run: gzip -c epg.xml > epg.xml.gz
        
      - name: 上传
        run: |
          git config user.name bot
          git config user.email bot@bot.com
          git add epg.xml.gz
          git commit -m "add gz"
          git push -f origin main
